.btn {
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #FFA902;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -9px -9px 16px rgba(250, 251, 255, 0.1), 9px 9px 16px rgba(166, 171, 189, 0.3);
    border-radius: 55px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #154D54;
    text-decoration: none;
    &_secondary {
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}

@media (max-width: 575px) {
    .btn {
        padding: 15px 30px;
        font-size: 13px;
        line-height: 15px;
    }
}

@media (max-width: 374px) {
    .btn {
        padding: 15px 20px;
    }
}