.conf {
    padding-top: 130px;
    padding-bottom: 170px;
    &__mob-title {
        display: none;
    }
    &__grid {
        display: grid;
        grid-template-columns: 405px 450px;
        grid-template-rows: auto;
        column-gap: 100px;
        place-content: center;
        align-items: center;
    }
    &__round {
        display: grid;
        place-content: center;
        width: 405px;
        height: 405px;
        background: linear-gradient(50.24deg, #FFFFFF 29.09%, #F2F4F8 80.42%);
        box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.7);
        border-radius: 299px;
    }
    &__title {
        text-align: left;
    }
    &__text {
        margin-top: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #939393;
    }
    &__download-text {
        margin-top: 65px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #154D54;
    }
    &__btn {
        margin-top: 25px;
    }
}

@media (max-width: 1199px) {
    .conf {
        &__grid {
            column-gap: 60px;
        }
    }
}

@media (max-width: 991px) {
    .conf {
        padding-bottom: 120px;
        &__round {
            width: 320px;
            height: 320px;
        }
        &__grid {
            grid-template-columns: 320px 390px;
            column-gap: 40px;
        }
    }
}

@media (max-width: 767px) {
    .conf {
        padding-top: 80px;
        padding-bottom: 80px;
        &__round {
            margin: 0 auto;
            width: 250px;
            height: 250px;
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__grid {
            margin-top: 35px;
            grid-template-columns: 400px;
            grid-template-rows: auto auto;
            row-gap: 30px;
        }
        &__mob-title {
            display: block;
        }
        &__title {
            display: none;
        }
        &__text {
            margin-top: 0;
            text-align: center;
        }
        &__download-text {
            margin-top: 30px;
            text-align: center;
        }
        &__btn {
            margin-top: 30px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 575px) {
    .conf {
        &__round {
            width: 128px;
            height: 128px;
            img {
                width: 81px;
                height: 81px;
            }
        }
        &__grid {
            grid-template-columns: 1fr;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
        &__download-text {
            font-size: 12px;
            line-height: 14px;
        }
        &__btn {
            padding: 15px 55px;
        }
    }
}

@media (max-width: 374px) {
    
}