.footer {
    padding: 120px 0 20px;
    min-height: 455px;
    &__subtitle {
        margin-top: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #FFA902;
        text-align: center;
    }
    &__grid {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: auto;
        column-gap: 20px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: #788184;
        border-bottom: 1px solid #788184;
        transition: all .3s;
        svg {
            margin-right: 10px;
            path {
                transition: all .3s;
            }
        }
        &:nth-child(1) {
            &:hover {
                color: #FE9431;
                border-color: #FE9431;
                svg {
                    path {
                        fill: #FE9431;
                    }
                }
            }
        }
        &:nth-child(2) {
            &:hover {
                color: #DA5077;
                border-color: #DA5077;
                svg {
                    path {
                        fill: #DA5077;
                    }
                }
            }
        }
        &:nth-child(3) {
            &:hover {
                color: #4B78B3;
                border-color: #4B78B3;
                svg {
                    path {
                        fill: #4B78B3;
                    }
                }
            }
        }
        &:nth-child(4) {
            &:hover {
                color: #61C8C5;
                border-color: #61C8C5;
                svg {
                    path {
                        fill: #61C8C5;
                    }
                }
            }
        }
    }
    &__address {
        margin-top: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #154D54;
    }
    &__cr {
        margin-top: 55px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #939393;
        text-align: center;
    }
    &__author {
        margin-top: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #939393;
        text-align: center;
        a {
            color: #939393;
            text-decoration: none;
        }
    }
}

@media (max-width: 1439px) {
    .footer {
        &__grid {
            grid-template-columns: repeat(4,260px);
        }
    }
}

@media (max-width: 1199px) {
    .footer {
        padding: 90px 0 20px;
        min-height: 430px;
        &__grid {
            margin-top: 75px;
            grid-template-columns: repeat(4,225px);
        }
        &__cr {
            margin-top: 85px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        &__grid {
            grid-template-columns: repeat(2,280px);
            grid-auto-rows: auto;
            place-content: center;
            row-gap: 40px;
            column-gap: 50px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__grid {
            grid-template-columns: repeat(2,250px);
            column-gap: 25px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        &__subtitle {
            font-size: 18px;
            line-height: 21px;
        }
        &__grid {
            grid-template-columns: 90%;
            row-gap: 60px;
        }
    }
}

@media (max-width: 374px) {
    
}