.header {
    padding: 14px 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 10;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 112px;
        height: 130px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.menu {
    height: 70px;
    display: flex;
    align-items: center;
    &__hamburger {
        display: none;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        &-item {
            &:not(:last-child) {
                margin-right: 50px;
            }
            a {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            img {
                width: 87px;
                height: 102px;
            }
        }
    }
    .menu {
        &__list {
            &-item {
                &:not(:last-child) {
                    margin-right: 35px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .menu {
        &__hamburger {
            display: block;
            position: relative;
            top: -15px;
            right: 15px;
            width: 30px;
            height: 3px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 1);
            z-index: 5;
            cursor: pointer;
            transition: all .7s;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                border-radius: 10px;
                background: #FFFFFF;
                transform: rotate(360deg);
                transition: all .7s;
            }
            &::before {
                top: 7px;
            }
            &::after {
                bottom: 7px;
            }
            &_dark {
                background: #154d54;
                &::before, &::after {
                    background: #154d54;
                }
            }
            &_active {
                background: rgba(255, 255, 255, 0);
                &::before {
                    top: unset;
                    transform: rotate(225deg);
                }
                &::after {
                    bottom: unset;
                    transform: rotate(135deg);
                }
                &::before, &::after {
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
        &__list {
            padding: 0;
            position: fixed;
            right: -100%;
            top: 0;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 50vw;
            background: rgba(0,0,0,.8);
            transition: all .5s;
            &-item {
                padding: 15px 0;
                width: 100%;
                text-align: center;
                a {
                    display: block;
                    width: 100%;
                }
                &:not(:last-child) {
                    margin-right: 0px;
                }
            }
            &_active {
                right: 0;
            }
        }
    }
}

@media (max-width: 575px) {
    .header {
        position: fixed;
        padding: 5px 0;
        height: 90px;
        transition: all .3s;
        &__logo {
            img {
                width: 70px;
                height: 80px;
            }
        }
    }
    .menu {
        position: fixed;
        height: 45px;
        width: 100%;
        top: 0;
        right: 0;
        transition: all .3s;
        &__hamburger {
            margin-left: auto;
            top: -2px;
        }
        &__list {
            width: 100vw;
        }
    }
}

@media (max-width: 374px) {
    
}