.pay {
    padding-top: 1px;
    padding-bottom: 120px;
    &__descr {
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 135.4%; /* or 24px */
        text-align: center;
        color: #939393;
    }
}

@media (max-width: 991px) {
    .pay {
        &__descr {
            width: 550px;
            margin: 30px auto 0;
        }
    }
}

@media (max-width: 767px) {
    .pay {
        &__descr {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .pay {
        &__descr {
            width: 97%;
            font-size: 14px;
            line-height: 135.4%; /* or 19px */
        }
    }
}

@media (max-width: 374px) {
    
}