.promo {
    position: relative;
    padding: 220px 0 20px;
    min-height: 110vh;
    background: url('../img/promo-bg.png') center top / cover no-repeat;
    &__main {
        width: 590px;
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #154D54;
    }
    &__descr {
        position: relative;
        padding-left: 18px;
        margin-top: 35px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #154D54;
        &::before {
            content: '';
            position: absolute;
            left: 2px;
            width: 2px;
            height: 100%;
            border-radius: 5px;
            background: #154D54;
        }
    }
    &__btn {
        margin-top: 35px;
    }
    &__info {
        position: absolute;
        // top: 85vh;
        bottom: 10vh;
        right: 100px;
        &-item {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        &-descr {
            margin-right: 13px;
            width: 255px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #154D54;
        }
        &-icon {
            display: inline-flex;
            align-items: center;
        }
        &-arrow {
            margin-right: 3px;
        }
        &-round {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            &.orange {
                background: #FF9D00;
            }
            &.blue {
                background: #4B78B3;
            }
        }
    }
}

@media (max-width: 1439px) {
    .promo {
        &__info {
            right: 20px;
        }
    }
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    .promo {
        padding: 170px 0 20px;
        min-height: 580px;
        &__main {
            width: 500px;
        }
        &__title {
            font-size: 34px;
            line-height: 44px;
        }
        &__descr {
            margin-top: 25px;
            font-size: 16px;
            line-height: 20px;
        }
        &__info {
            bottom: -90px;
        }
    }
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}

@media (max-width: 374px) {

}