.reviews {
    padding-bottom: 120px;
    &__grid {
        margin-top: 65px;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: 360px;
        place-content: center;

    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &__item {
        position: relative;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        &-title {
            margin-top: 80px;
            font-weight: 700;
        }
        &-text {
            width: 256px;
            margin: 25px auto 0;
            font-weight: 500;
        }
        &:nth-child(3) {
            .reviews__img {
                left: -8px;
            }
        }
    }
}