.reviews {
    padding-bottom: 120px;
    &__grid {
        margin-top: 65px;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: 360px;
        place-content: center;

    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &__item {
        position: relative;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        &::before, &::after {
            position: absolute;
            font-weight: 700;
            font-size: 96px;
            line-height: 113px;
        }
        &::before {
            content: '“';
            top: 0;
            left: 0;
        }
        &::after {
            content: '”';
            bottom: 0;
            right: 0;
        }
        &:nth-child(1) {
            &::before, &::after {
                color: #FF9D00;
            }
        }
        &:nth-child(2) {
            &::before, &::after {
                color: #A551A3;
            }
        }
        &:nth-child(3) {
            &::before, &::after {
                color: #4B78B3;
            }
        }
        &-title {
            margin-top: 80px;
            font-weight: 700;
        }
        &-text {
            width: 256px;
            margin: 25px auto 0;
            font-weight: 500;
        }
        &:nth-child(3) {
            .reviews__img {
                left: -8px;
            }
        }
    }
}