.service {
    padding: 2px 0 130px;
    &__group {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-top: 35px;
        width: 100%;
        height: 16px;
        background: #EEF0F6;
        border: 1px solid rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.25), 4px 4px 8px rgba(66, 83, 107, 0.09), inset 0px -4px 14px #FFFFFF, inset 0px 2px 6px rgba(66, 83, 107, 0.22);
        border-radius: 20px;
        &-btn {
            position: relative;
            z-index: 3;
            display: block;
            width: 50%;
            height: 100%;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-decoration: none;
            color: #154D54;
            span {
                position: absolute;
                bottom: -40px;
            }
            &:nth-child(1) {
                span {
                    left: 0;
                }
            }
            &:nth-child(2) {
                span {
                    right: 0;
                }
            }
        }
        &-slider {
            position: absolute;
            top: 4px;
            left: 2px;
            z-index: 2;
            width: 50%;
            height: 7px;
            background: #F09609;
            border-radius: 20px;
            transition: all .7s;
            &_active {
                left: 49.5%;
            }
        }
    }
    &__tab {
		display: none;
		padding-top: 70px;
		position: relative;
		z-index: 0;
        background: url('../img/service-bg.png') center center/contain repeat-y;
		transition: all .5s;
		&_active {
			display: block;
		}
    }
    &__item {
		margin: 215px 80px 0;
        width: 750px;
        position: relative;
        padding: 35px 35px 30px;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #F1F3F5;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 20px;
        box-shadow: -9px -9px 16px rgba(250, 251, 255, 0.3), 9px 9px 16px rgba(166, 171, 189, 0.4);
    }
    .si {
        &-title {
            position: absolute;
            // top: -80px;
			bottom: 105%;
            left: 0;
            width: 177px;
            font-weight: 700;
            font-size: 16px;
            line-height: 130%; /* or 21px */
            color: #FFFFFF;
            &::before {
                content: url('../img/orange-splash.svg');
                position: absolute;
                top: -92px;
                left: -92px;
                z-index: -1;
            }
        }
        &-main {
            display: flex;
            justify-content: space-between;
        }
        &-descr {
            width: 360px;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%; /* or 21px */
            color: #939393;
        }
        &-label {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #939393;
            &:not(:first-child) {
                margin-top: 35px;
            }
        }
        &-text {
            margin-top: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #154D54;
        }
        &-more {
			overflow: hidden;
            padding-top: 20px; 
			visibility: hidden;
			height: 0px;
			opacity: 0;
			transition: all .4s;
			&_active {
				visibility: visible;
				opacity: 1;
			}
			.si-label {
				margin-top: 15px;
			}
        }
        &-subtitle {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #154D54;
        }
        &-list {
            margin-top: 18px;
            margin-bottom: 40px;
            // display: grid;
            // grid-template-columns: repeat(2, 290px);
            // grid-template-rows: auto;
            // grid-auto-rows: auto;
            // row-gap: 8px;
            // column-gap: 55px;
            list-style: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #939393;
            &_tick {
                li {
                    position: relative;
                    &::before {
                        content: url('../../icons/tick-orange.svg');
                        position: absolute;
                        left: -22px;
                        top: -2px;
                    }
                }
            }
            &_dot {
                li {
                    position: relative;
                    &::before {
                        content: url('../../icons/dot-orange.svg');
                        position: absolute;
                        left: -18px;
                        top: -2px;
                    }
                }
            }
        }
        &-btn {
            margin-right: 12px;
        }
    }
    &__item {
        &:nth-child(2) {
			margin-left: auto;
            .si {
                &-title {
                    left: unset;
					right: 0;
					text-align: right;
                    &::before {
                        content: url('../img/purple-splash.svg');
						left: -72px;
                    }
                }
				&-list {
					&_tick {
						li {
							&::before {
								content: url('../../icons/tick-purple.svg');
							}
						}
					}
					&_dot {
						li {
							&::before {
								content: url('../../icons/dot-purple.svg');
							}
						}
					}
				}
            }
        }
		&:nth-child(3) {
            .si {
                &-title {
                    &::before {
                        content: url('../img/blue-splash.svg');
                    }
                }
				&-list {
					&_tick {
						li {
							&::before {
								content: url('../../icons/tick-blue.svg');
							}
						}
					}
					&_dot {
						li {
							&::before {
								content: url('../../icons/dot-blue.svg');
							}
						}
					}
				}
            }
        }
		&:nth-child(4) {
			margin-left: auto;
            .si {
                &-title {
                    left: unset;
					right: 0;
					text-align: right;
                    &::before {
                        content: url('../img/gray-splash.svg');
						left: -72px;
                    }
                }
				&-list {
					&_tick {
						li {
							&::before {
								content: url('../../icons/tick-gray.svg');
							}
						}
					}
					&_dot {
						li {
							&::before {
								content: url('../../icons/dot-gray.svg');
							}
						}
					}
				}
            }
        }
    }
}