.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #154D54;
    text-align: center;
}

@media (max-width: 575px) {
    .section-title {
        font-size: 26px;
        line-height: 31px;
    }
}